[project]
	description = Simultaneously record and upload video to personal cloud storage.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Cameron Spickert (cspickert)
[access "refs/for/refs/*"]
	read = group user/Cameron Spickert (cspickert)
	push = group user/Cameron Spickert (cspickert)
	label-Code-Review = -2..+2 group user/Cameron Spickert (cspickert)
	label-Verified = -1..+1 group user/Cameron Spickert (cspickert)
	rebase = group user/Cameron Spickert (cspickert)
	removeReviewer = group user/Cameron Spickert (cspickert)
	submit = group user/Cameron Spickert (cspickert)
[access "refs/heads/*"]
	read = group user/Cameron Spickert (cspickert)
	create = group user/Cameron Spickert (cspickert)
	push = +force group user/Cameron Spickert (cspickert)
	pushMerge = group user/Cameron Spickert (cspickert)
[access "refs/tags/*"]
	push = +force group user/Cameron Spickert (cspickert)
	pushTag = group user/Cameron Spickert (cspickert)
	pushSignedTag = group user/Cameron Spickert (cspickert)
